{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-end position-sticky mt-2" style="top:50px; z-index:1020;">
    <a href="{% url 'blog_list' %}" class="btn btn-primary">Back</a>
</div>

<h3>
    {% if form.instance.pk %}
        Edit {{ form.instance.title }}
        <small style="font-size:0.5em; color:gray; margin-left:5px;">
            {% if homepage %}Homepage Blog{% else %}Inner Page Blog{% endif %}
        </small>
    {% else %}
        Add New
        <small style="font-size:0.5em; color:gray; margin-left:5px;">
            {% if homepage %}Homepage Blog{% else %}Inner Page Blog{% endif %}
        </small>
    {% endif %}
</h3>

<form method="post">
    {% csrf_token %}

    {{ form.title.label_tag }}<br>
    {{ form.title }}<br><br>

    {{ form.subtitle.label_tag }}<br>
    {{ form.subtitle }}<br><br>

    {{ form.slug.label_tag }}<br>
    {{ form.slug }}
    <span id="slug-warning" style="color:red; display:none;">Slug already exists!</span>
    <br><br>

    {{ form.content.label_tag }}<br>
    {{ form.content }}<br>
    <button type="button" id="add-readmore" class="btn btn-secondary mb-2">Read More</button><br>

    <!-- CKEditor -->
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <script>
        var editor = CKEDITOR.replace('{{ form.content.id_for_label }}');

        document.getElementById('add-readmore').addEventListener('click', function () {
            var data = editor.getData();
            if(data.indexOf('data-readmore="true"') !== -1){
                alert('Only one Read More line is allowed!');
                return;
            }
            editor.insertHtml('<hr class="readmore" data-readmore="true">');
        });
    </script>

    <!-- Featured Image -->
    <div class="mb-3">
        <label>Featured Image</label>
        <button type="button" class="btn btn-outline-secondary" id="selectImageBtn">Select Image from CMS</button>

        {% if blog.featured_image %}
        <div class="blog-image mt-2">
            <img src="{{ blog.featured_image.file.url }}" class="img-fluid rounded">
        </div>
        {% endif %}

        {{ form.featured_image }}
    </div>

    <!-- CMS Modal -->
    <div class="modal fade" id="cmsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select Image from CMS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="cmsModalBody"></div>
            </div>
        </div>
    </div>

    {{ form.active.label_tag }} {{ form.active }}<br><br>

    <button type="submit" name="action" value="save" class="btn btn-success">Save</button>
    <button type="submit" name="action" value="save_more" class="btn btn-success">Save & More</button>
    <button type="submit" name="action" value="save_quit" class="btn btn-success">Save & Quit</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {

    // Initialize click handlers inside the CMS modal
    function initCMSModalItems() {

        // Image selection
        document.querySelectorAll('.cms-image').forEach(img => {
            img.addEventListener('click', function () {
                const imageId = this.dataset.id;
                const imageUrl = this.dataset.url;

                // Update hidden input
                document.getElementById('id_featured_image').value = imageId;

                // Show preview
                let previewContainer = document.querySelector('.blog-image');
                if (!previewContainer) {
                    previewContainer = document.createElement('div');
                    previewContainer.classList.add('blog-image', 'mt-2');
                    document.getElementById('selectImageBtn').after(previewContainer);
                }
                previewContainer.innerHTML = `<img src="${imageUrl}" class="img-fluid rounded">`;

                // Close modal
                bootstrap.Modal.getInstance(document.getElementById('cmsModal')).hide();
            });
        });

        // Folder click navigation
        document.querySelectorAll('.cms-folder').forEach(folder => {
            folder.addEventListener('click', function () {
                const url = this.dataset.url;
                fetchFolder(url);
            });
        });

        // Breadcrumb click navigation
        document.querySelectorAll('.breadcrumb-link').forEach(crumb => {
            crumb.addEventListener('click', function (event) {
                event.preventDefault(); // prevent full page reload
                const url = this.dataset.url;
                fetchFolder(url);
            });
        });
    }

    // Fetch folder content and update modal & breadcrumb
    function fetchFolder(url) {
        fetch(url)
            .then(res => res.text())
            .then(html => {
                // Insert new folder/file content
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, "text/html");

                const folderRow = doc.querySelector('.row');
                if(folderRow){
                    document.querySelector('#cmsModalBody .row').innerHTML = folderRow.innerHTML;
                }

                // Update breadcrumb
                const newBreadcrumb = doc.querySelector('#cms-breadcrumb');
                if(newBreadcrumb){
                    document.getElementById('cms-breadcrumb').innerHTML = newBreadcrumb.innerHTML;
                }

                // Reattach all click handlers for new content
                initCMSModalItems();
            })
            .catch(err => console.error("Failed to fetch folder:", err));
    }

    // Open CMS modal
    document.getElementById('selectImageBtn').addEventListener('click', function () {
        const cmsModal = new bootstrap.Modal(document.getElementById('cmsModal'));
        cmsModal.show();

        fetch("{% url 'contentmgmt:cms_media_list' %}")
            .then(res => res.text())
            .then(html => {
                document.getElementById('cmsModalBody').innerHTML = html;
                initCMSModalItems();
            })
            .catch(err => console.error("Failed to load CMS content:", err));
    });

});
</script>


{% endblock %}