{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Users</h3>
    <a href="{% url 'core:add_user' %}" class="btn btn-primary mb-2">Add User</a>
</div>

 <form method="post" action="{% url 'core:user_bulk_action' %}">
        {% csrf_token %}
        <div class="mb-2">
            <button type="submit" name="action" value="publish" class="btn btn-success btn-sm">Status</button>
            <!-- <button type="submit" name="action" value="unpublish" class="btn btn-secondary btn-sm">Unpublish Selected</button> -->
            <button type="submit" name="action" value="delete" class="btn btn-danger btn-sm" 
            onclick="return confirm('Are you sure you want to delete selected articles?');">Delete</button>
        </div>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><input type="checkbox" name="selected_user" value="{{ user.id }}"></td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% for group in user.groups.all %}
                            {{ group.name }}
                        {% empty %}
                            No Role
                        {% endfor %}
                    </td>
                    <td>{{ user.email }}</td>

                    <td>{% if user.id != request.user.id %}
                            {% if user.is_active %}
                                <a href="{% url 'core:user_toggle_status' user.id %}" class="btn btn-sm btn-success">
                                    Published
                                </a>
                            {% else %}
                                <a href="{% url 'core:user_toggle_status' user.id %}" class="btn btn-sm btn-secondary">
                                    Unpublished
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'core:edit_user' user.id %}" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i></a>
                       {% if user.id != request.user.id %}
                            <a href="{% url 'core:delete_user' user.id %}" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
<script>
    // Select/Deselect all checkboxes
    document.getElementById('select-all').addEventListener('click', function(){
        let checkboxes = document.querySelectorAll('input[name="selected_user"]');
        checkboxes.forEach(cb => cb.checked = this.checked);
    });
</script>
{% endblock %}
